= stylesheet_link_tag "jquery/timetracker/reset"
= stylesheet_link_tag "jquery/timetracker/styles"
= stylesheet_link_tag "jquery/timetracker/ui.timepickr"

= javascript_include_tag "jquery/timepicker/jquery.utils"
= javascript_include_tag "jquery/timepicker/jquery.strings"
= javascript_include_tag "jquery/timepicker/jquery.anchorHandler"
= javascript_include_tag "jquery/timepicker/ui.timepickr"

%script
  $(function(){

  //$('#time_sheet_in_time').timepickr({trigger: '#trigger-test'});
  $('#time_sheet_in_time').timepickr({handle: '#trigger-in'});
  $('#time_sheet_out_time').timepickr({handle: '#trigger-out'});
  //$('#time_sheet_in_time').timepickr().focus();
  //$('#time_sheet_out_time').timepickr().focus();

  //$('#time_sheet_in_time').next().find('ol').show().find('li:eq(2)').mouseover();
  //$('#time_sheet_out_time').next().find('ol').show().find('li:eq(2)').mouseover();
  // temporary fix..
  //$('.ui-timepickr ol:eq(0) li:first').mouseover();
  });
%p
  = flash[:notice]
%h2
  Track your Time for
  %b
    = Time.now.strftime("%d-%m-%Y")
  |
  = link_to "View all", employee_time_sheets_path
    
- form_for @time_sheet, :url => employee_time_sheets_path do |f|
  %table{ :cellspacing => 0, :cellpadding => 0, :border => 1, :width => "100%"}
    %thead
      %tr
        %td{ :width => "50%"}
          In Time
        %td{ :width => "50%"}
          Out Time
    %tbody
      %tr
        %td
          %p
            - if current_user.user_detail.time_sheets.find(:all, :conditions => ["DATE(in_time) = ?", Time.now.to_date]).blank?
              = f.text_field :in_time, {:class => "demo"}
              = image_tag "clock.png", {:id => "trigger-in", :style => "position:absolute;margin:4px 0 0 6px;"}
        %td
          %p
            - if current_user.user_detail.time_sheets.find(:all, :conditions => ["DATE(in_time) = ?", Time.now.to_date]).blank?
              = f.text_field :out_time, {:class => "demo"}
              = image_tag "clock.png", {:id => "trigger-out", :style => "position:absolute;margin:4px 0 0 6px;"}
    %tr
      %td{ :colspan => "2" }
        \ &nbsp;
    %tr
      %td{ :colspan => "2" }
        = f.submit "Submit"